/* 基本樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 頁尾樣式 */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* 暗/亮主題 */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode .navbar {
    background-color: #444;
}

body.dark-mode .navbar-dark .navbar-nav .nav-link {
    color: white;
}

body.dark-mode footer {
    background-color: #333;
}

/* 自訂一些按鈕樣式 */
button {
    margin-top: 20px;
}

/* 音訊、視訊、圖片樣式 */
img.img-fluid, video, audio {
    max-width:
